   <div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat
        quas atque in quia, cupiditate asperiores facilis consequatur harum
        aliquam delectus voluptates dicta vel saepe quisquam ipsum corporis
        sapiente ullam? Deleniti doloremque quod dolor aliquam. Modi expedita
        vitae quos doloribus corporis, ea aut qui quia provident assumenda
        dicta ipsum impedit illo accusamus alias, eum error enim, et
        veritatis? Pariatur consequatur, expedita voluptates laudantium
        excepturi recusandae vero?
      </p>

      <ul>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">LinkedIn</a>
        <a href="#">Twitter</a>
        <a href="#">Pinterest</a>
      </ul>

      <ul>
         <a href="{% url 'index' %}">Home</a>
          <a href="{% url 'index' %}#about">About</a>
          <a href="{% url 'index' %}#services">Services</a>
          <a href="{% url 'index' %}#products">Products</a>
          <a href="{% url 'index' %}#testimonials">Testimonial</a>
          <a href="{% url 'index' %}#contact">Contact</a>
          <a href="{% url 'index' %}#blog">Blog</a>
      </ul>
     </div>
     <p class="copy">copyright&nbsp;Bernard&nbsp;Dwumfour&copy;2022</p>